# Python / Django
venv/
__pycache__/
*.pyc
db.sqlite3
/.env

# Node / React
node_modules/
dist/
dist-ssr/
*.local

# Editor
.vscode/
.idea/

# Google Cloud
google_credentials.json

# Temporary / Log files
*.log
tmp/
.DS_Store
Thumbs.db
